<a href="https://colab.research.google.com/github/2303a51295madhuri/python-for-data-science/blob/main/Lab_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Products Dataset
products = pd.DataFrame({
    'product_id': [101, 102, 103, 104, 105],
    'product_name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'],
    'category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Accessories'],
    'price': [80000, 1200, 2500, 15000, 3500]
})
products.to_csv("products.csv", index=False)

In [3]:
sales = pd.DataFrame({
    'sale_id': [1, 2, 3, 4, 5, 6, 7],
    'product_id': [101, 102, 103, 101, 105, 105, 104],
    'quantity': [2, 10, 5, 1, 3, 1, 2]
})
sales.to_csv("sales.csv", index=False)

In [4]:
print(" Datasets Created & Saved: products.csv, sales.csv\n")

 Datasets Created & Saved: products.csv, sales.csv

In [7]:
products = pd.read_csv("products.csv")
sales = pd.read_csv("sales.csv")

print("PRODUCTS DATASET ")
print(products, "\n")

print("SALES DATASET")
print(sales, "\n")

PRODUCTS DATASET
   product_id product_name     category  price
0         101       Laptop  Electronics  80000
1         102        Mouse  Accessories   1200
2         103     Keyboard  Accessories   2500
3         104      Monitor  Electronics  15000
4         105   Headphones  Accessories   3500

SALES DATASET
   sale_id  product_id  quantity
0        1         101         2
1        2         102        10
2        3         103         5
3        4         101         1
4        5         105         3
5        6         105         1
6        7         104         2

In [8]:
# Inner Join
merged_inner = pd.merge(sales, products, on='product_id', how='inner')
print("INNER JOIN RESULT")
print(merged_inner, "\n")

INNER JOIN RESULT
   sale_id  product_id  quantity product_name     category  price
0        1         101         2       Laptop  Electronics  80000
1        2         102        10        Mouse  Accessories   1200
2        3         103         5     Keyboard  Accessories   2500
3        4         101         1       Laptop  Electronics  80000
4        5         105         3   Headphones  Accessories   3500
5        6         105         1   Headphones  Accessories   3500
6        7         104         2      Monitor  Electronics  15000

In [9]:
# Outer Join
merged_outer = pd.merge(sales, products, on='product_id', how='outer')
print("OUTER JOIN RESULT")
print(merged_outer, "\n")

OUTER JOIN RESULT
   sale_id  product_id  quantity product_name     category  price
0        1         101         2       Laptop  Electronics  80000
1        4         101         1       Laptop  Electronics  80000
2        2         102        10        Mouse  Accessories   1200
3        3         103         5     Keyboard  Accessories   2500
4        7         104         2      Monitor  Electronics  15000
5        5         105         3   Headphones  Accessories   3500
6        6         105         1   Headphones  Accessories   3500

In [10]:
merged_inner['revenue'] = merged_inner['price'] * merged_inner['quantity']

# Total Revenue
total_revenue = merged_inner['revenue'].sum()
print(f"TOTAL REVENUE: {total_revenue}")

TOTAL REVENUE: 308500

In [11]:
# Average Price
average_price = merged_inner['price'].mean()
print(f"AVERAGE PRODUCT PRICE: {average_price}\n")

AVERAGE PRODUCT PRICE: 26528.571428571428

In [12]:

# Product-wise Sales
product_sales = merged_inner.groupby('product_name')['revenue'].sum().reset_index()
print("PRODUCT-WISE SALES")
print(product_sales, "\n")

PRODUCT-WISE SALES
  product_name  revenue
0   Headphones    14000
1     Keyboard    12500
2       Laptop   240000
3      Monitor    30000
4        Mouse    12000

In [13]:
# Category-wise Sales
category_sales = merged_inner.groupby('category')['revenue'].sum().reset_index()
print(" CATEGORY-WISE SALES ")
print(category_sales, "\n")

 CATEGORY-WISE SALES
      category  revenue
0  Accessories    38500
1  Electronics   270000

In [14]:
# Best-Selling Category
best_category = category_sales.loc[category_sales['revenue'].idxmax()]
print(f"BEST SELLING CATEGORY: {best_category['category']} (Revenue: {best_category['revenue']})")

BEST SELLING CATEGORY: Electronics (Revenue: 270000)